{% import "alerts.html.twig" as alerts %}
{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <h3>Recover Password</h3>
        {% if recovered %}
            <div class="alert alert-success center messagebox">
                <strong>Your password has been changed</strong>
                <p>
                    Your account has been assigned the temporary password <code>{{ recoverPw }}</code>.
                    You may now use this password to log in and choose a new password by visiting the
                    <a href="/account/edit">change password/email</a> page.
                </p>
            </div>
        {% else %}
            {{ alerts.danger("Password Recovery Failed", recoverErr) }}
        {% endif %}
    </div>
{% endblock %}