{% import "alerts.html.twig" as alerts %}
{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        <h3>Reset Password</h3>
        {% if reset %}
            {{ alerts.success("Password Reset Sent", "Please check " + resetEmail + " for your recovery link.") }}
        {% elif resetErr %}
            {{ alerts.danger("Error", resetErr) }}
        {% else %}
            <form method="post" action="/account/passwordreset" role="form">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" class="form-control" />
                </div>
                <button class="btn btn-primary btn-block" type="submit">Send Reset Request</button>
            </form>
        {% endif %}
    </div>
{% endblock %}