{% extends "layout_home.html.twig" %}
{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <h3>About Us</h3>
        <p style="text-align: justify">
            We're a group of strangers who met each other through internet chatrooms (reddit.com/r/joinrobin) and
            found shared common interests through sharing and listening to music together in real time. Our music
            channels are a melting pot of different genres and sounds from all over the world that reflect our diverse
            userbase. Join us for a fun and unique listening experience by sharing your songs on the playlist or
            spamming your favorite custom emotes in chat; pienudes is a close-knit community where everyone and
            every sound is welcome :)
        </p>
        
        <h3>About Our Name</h3>
        <p style="text-align: justify">
            The founding story of pienudes dates back to the late evening of April 3rd, 2016. Members of one chatroom of
            roughly 15 person size were invited to a group listening channel by one of the anonymous users. When
            their room merged with another 15 person sized room, they found their new acquaintances had formed a
            running joke of sending each other "pie nudes" - exactly what it sounds like: literal pies in various
            states of bakedness. As the rooms merged, more members joined the listening channel and found it quite
            entertaining, but eventually the hour grew late and the owner of the channel left. The other users
            continued with great enthusiasm, but to their dismay they soon discovered that someone had queued up
            all 41 minutes of Vivaldi's Four Seasons in the playlist. Without an admin and a means to bypass 41
            minutes of Vivaldi, the majority voted to create a new channel, and thus the first iteration of
            pienudes was born. Later, the resident coding whiz would go onto create a standalone server using the
            open source software of the listening channel, where they would implement various tools and features
            to evolve into the improved experience that you see today.
        </p>
    </div>
{% endblock %}