{% extends "layout_home.html.twig" %}
{% block content %}
    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <h3>About Us</h3>
        <p style="text-align: justify">
            We're a group of strangers who met each other through internet chatrooms (reddit.com/r/joinrobin) and
            found shared common interests through sharing and listening to music together in real time. Our music
            channels are a melting pot of different genres and sounds from all over the world that reflect our diverse
            userbase. Join us for a fun and unique listening experience by sharing your songs on the playlist or
            spamming your favorite custom emotes in chat; upnext.fm is a close-knit community where everyone and
            every sound is welcome :)
        </p>
    </div>
{% endblock %}