{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-10 col-md-10">
        <h1>Help</h1>
        <p>
            No registration is required to use the site. You can join as a guest by simply entering a name in one of
            the channels.
        </p>
        <img src="/img/guest_login.png" />
        <p>
            After joining the room as a guest you can add songs to the playlist, and chat with other users.
        </p>
        
        <h2 id="topic-formatting">Formatting</h2>
        <ul class="list-style-type-none">
            <li><code>**message**</code> - <i>message</i></li>
            <li><code>*message*</code> - <strong>message</strong></li>
            <li><code>`message`</code> - <code>message</code></li>
            <li><code>~~message~~</code> - <del>message</del></li>
        </ul>

        <h2 id="topic-commands">Standard Commands</h2>
        <ul class="list-style-type-none">
            <li>
                <code>/me &lt;message&gt;</code> - Sends a message as an action, for example headzoo gets a snack.
            </li>
            <li>
                <code>/sp &lt;message&gt;</code> - Hides a message in a hover-to-expose spoiler box.
            </li>
            <li>
                <code>/afk</code> - Toggles your AFK status. You will automatically be marked not AFK after sending a chat message or vote
                skipping the video.
            </li>
            <li>
                <code>/w &lt;username&gt; &lt;message&gt;</code> - Whisper to another user. Where &lt;username&gt; is
                the name of the another user in the room, and &lt;message&gt; is the message you want to whisper.
            </li>
            <li>
                <code>/ping</code> - Returns the number of milliseconds it takes for the chat server to response to
                your messages.
            </li>
        </ul>
        
        <h2 id="topic-mod-commands">Moderator Commands</h2>
        <ul class="list-style-type-none">
            <li>
                <code>/say &lt;message&gt;</code> - Sends a message in big red text.
            </li>
            <li>
                <code>/poll &lt;title&gt;,&lt;option1&gt;,&lt;option2&gt;,...</code> - Opens a new poll (this is from before the New Poll button was added).
            </li>
            <li>
                <code>/hpoll &lt;title&gt;,&lt;option1&gt;,&lt;option2&gt;,...</code> - Same as above, but hides poll results.
            </li>
            <li>
                <code>/mute &lt;user&gt;</code> - Mutes a user from sending chat messages.
            </li>
            <li>
                <code>/smute &lt;user&gt;</code> - Shadow mutes a user. They will still receive their own chat messages, but nobody else will and they will not appear muted except to moderators.
            </li>
            <li>
                <code>/unmute &lt;user&gt;</code> - Unmutes a user. This will unmute both muted and smuted users.
            </li>
            <li>
                <code>/kick &lt;user&gt; [&lt;reason&gt;]</code> - Kicks a user, optionally providing a kick reason
            </li>
            <li>
                <code>/kickanons</code> - Kicks all anonymous users from the channel
            </li>
            <li>
                <code>/ban &lt;user&gt; [&lt;reason&gt;]</code> - Bans a user by name, optional providing a ban reason
            </li>
            <li>
                <code>/ipban &lt;user&gt; [&lt;reason&gt;]</code> - Bans a user and all IP addresses they've used in the past month, optionally providing a ban reason.
            </li>
            <li>
                <code>/ipban &lt;user&gt; range [&lt;reason&gt;]</code> - Bans an IP range (/24 block for IPv4 or /64 block for IPv6)
            </li>
            <li>
                <code>/ipban &lt;user&gt; wrange [&lt;reason&gt;]</code> - Bans a wider IP range (/16 block for IPv4, /48 block for IPv6)
            </li>
            <li>
                <code>/clear</code> - Clears the chat buffer.
            </li>
            <li>
                <code>/shake [&lt;name&gt;]</code> - Awakens every afk user in the channel, or a specific user when a name is provided.
            </li>
            <li>
                <code>/cleantitle &lt;title&gt;</code> - Removes all playlist entries that match the given title.
            </li>
        </ul>
    </div>
{% endblock %}