{% extends "layout.html.twig" %}
{% block content %}
    <style type="text/css">
        #help-page a {
            text-decoration: underline;
        }
        #help-page ul > li > ul {
            list-style-type: none;
            margin: 0;
            padding: 0 8px;
        }
        #help-page h3, #help-page h4, #help-page h5 {
            color: #DD9A2F;
            margin: 42px 0 12px 0;
        }
        #help-page h3 {
            font-size: 32px;
            border-bottom: 1px solid #DD9A2F;
        }
        #help-page h4 {
            font-size: 28px;
        }
        #help-page h5 {
            font-size: 16px;
            margin: 12px 0;
        }
    </style>
    <div id="help-page" class="col-lg-10 col-md-10">
        <h1>Scripting</h1>
        <p>
            The site supports user scripting, which allows you to inject your own Javascript into <i>your</i>
            browser when you are inside of a channel. In addition, a light-weight API is provided so that
            you may build "bots" with user scripts.
        </p>
        
        <h3>Table of Contents</h3>
        <ul class="list-style-type-none">
            <li>
                <a href="#topic-overview">Overview</a>
                <ul>
                    <li><a href="#topic-overview-variables">Variables</a></li>
                    <li><a href="#topic-overview-first-script">First Script</a></li>
                </ul>
            </li>
            <li>
                <a href="#topic-api">API</a>
                <ul>
                    <li>
                        <a href="#topic-api-events">Events</a>
                        <ul>
                            <li><a href="#topic-api-events-loaded">loaded</a></li>
                            <li><a href="#topic-api-events-reloaded">reloaded</a></li>
                            <li><a href="#topic-api-events-receive">receive</a></li>
                            <li><a href="#topic-api-events-send">send</a></li>
                            <li><a href="#topic-api-events-notice">notice</a></li>
                            <li><a href="#topic-api-events-user-join">user_join</a></li>
                            <li><a href="#topic-api-events-user-leave">user_leave</a></li>
                            <li><a href="#topic-api-events-playlist">playlist</a></li>
                            <li><a href="#topic-api-events-queue">queue</a></li>
                            <li><a href="#topic-api-events-media-change">media_change</a></li>
                            <li><a href="#topic-api-events-media-update">media_update</a></li>
                            <li><a href="#topic-api-events-favorites">favorites</a></li>
                            <li><a href="#topic-api-events-favorite-add">favorite_add</a></li>
                            <li><a href="#topic-api-events-tags">tags</a></li>
                            <li><a href="#topic-api-events-votes">votes</a></li>
                            <li><a href="#topic-api-events-vote-value">vote_value</a></li>
                            <li><a href="#topic-api-events-emotes">emotes</a></li>
                            <li><a href="#topic-api-events-afk">afk</a></li>
                            <li><a href="#topic-api-events-profile-menu">profile_menu</a></li>
                            <li><a href="#topic-api-events-user-options-save">user_options_save</a></li>
                            <li><a href="#topic-api-events-channel-option-save">channel_option_save</a></li>
                            <li><a href="#topic-api-events-search-results">search_results</a></li>
                            <li><a href="#topic-api-events-color-change">color_change</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#topic-api-methods">Methods</a>
                        <ul>
                            <li><a href="#topic-api-methods-send">$api.send()</a></li>
                            <li><a href="#topic-api-methods-queue">$api.queue()</a></li>
                            <li><a href="#topic-api-methods-skip">$api.skip()</a></li>
                            <li><a href="#topic-api-methods-vote">$api.vote()</a></li>
                            <li><a href="#topic-api-methods-playlist-clear">$api.playlistClear()</a></li>
                            <li><a href="#topic-api-methods-playlist-shuffle">$api.playlistShuffle()</a></li>
                            <li><a href="#topic-api-methods-search">$api.search()</a></li>
                            <li><a href="#topic-api-methods-clear">$api.clear()</a></li>
                            <li><a href="#topic-api-methods-color">$api.color()</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#topic-examples">Examples</a>
                <ul>
                    <li><a href="#topic-api-examples-favorites">Queuing Favorites</a></li>
                </ul>
            </li>
        </ul>

        <h3 id="topic-overview">Overview</h3>
        <div>
            <p>
                User scripts are created from the Options -> Scripting dialog. Simply type (or paste) your
                script into the text area, and click the Save button. Your script is immediately executed,
                and will be executed any time you enter a channel.
            </p>
            <p>
                <img src="/img/help/scripting/nav_options.png" style="margin-bottom: 10px;width:100%" />
                <img src="/img/help/scripting/user_options.png" style="width:100%" />
            </p>
            
            <h5 id="topic-overview-variables">Variables</h5>
            <p>
                Four variables are made available to your user script: <code>$api</code>, <code>$user</code>,
                <code>$channel</code>, and <code>$socket</code>. Other global variables may be available to
                your script, but only those four are guaranteed to exist.
            </p>
            <ul style="margin:0;padding:0;list-style-type:none;">
                <li>
                    <code>$api</code>
                    Provides an interface to the chat software. The API is covered
                    <a href="#topic-api">further along in this documentation</a>.
                </li>
                <li>
                    <code>$socket</code>
                    Raw socket used to commentate with the server. Only required for advanced scripting, and not covered
                    in this documentation. See the <a href="http://socket.io/" target="_blank">socket.io documentation</a>
                    for more information on emitting events to the server, and receiving events.
                </li>
                <li>
                    <code>$channel</code>
                    An object containing information about the channel you are in. The object contains several properties.
                    <pre style="margin-top: 12px;">
                        <code class="language-javascript">
                        {
                            bio: String,            // The channel bio/information.
                            css: String,            // The channel CSS.
                            js: String,             // The channel Javascript.
                            emotes: Array,          // An array of channel emotes.
                            motd: String,           // The channel message of the day.
                            name: String,           // The name of the channel.
                            usercount: Number       // The number of users in the channel.
                        }
                        </code>
                    </pre>
                    <div class="alert alert-info" role="alert">
                        The object may contain other properties, but only those listed above are guaranteed to exist.
                    </div>
                </li>
                <li>
                    <code>$user</code>
                    An object containing information about you. The object contains several properties.
                    <pre style="margin-top: 12px;">
                        <code class="language-javascript">
                        {
                            emotes: Array,          // An array of your personal emotes.
                            name: String,           // Your username.
                            profile: Object,        // Your profile information.
                            rank: Number            // Your channel rank.
                        }
                        </code>
                    </pre>
                    <div class="alert alert-info" role="alert">
                        The object may contain other properties, but only those listed above are guaranteed to exist.
                    </div>
                </li>
            </ul>

            <h5 id="topic-overview-first-script">First Script</h5>
            <p>
                Try the following user script. Type (or paste) this code into the user script text area and click save.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                alert("Your username is " + $user.name + " and you are in the channel " + $channel.name);
                </code>
            </pre>
        </div>

        <h3 id="topic-api">API</h3>
        <div>
            <h4 id="topic-api-events">Events</h4>
            <p>
                The <code>$api</code> object contains a number of methods which can be used to interact with
                the channel and other users. Such as sending messages and queuing videos. Interacting with the
                channel is mostly done through the use of callbacks. The following code demonstrates the use
                of callbacks to CAPITALIZE every message you send.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    // Registers a callback which filters every message you send _before_ it gets sent
                    // to the server, and subsequently broadcast to each user in the channel.
                    $api.on("send", function(e, data) {
                        // Every message you send will be automatically capitalized.
                        data.msg = data.msg.toUpperCase();
                    });
                </code>
            </pre>
            <p>
                Upon sending a message your registered callbacks are called. Two values are passed to the callback
                function: an event object, and a message object. The message object typically contains the following
                properties.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                {
                    msg: String, // The message you are sending
                    meta: Object // Additional meta information, such as text color
                }
                </code>
            </pre>
            <p>
                The message object (with your changes) are sent to the server. Other users in the channel will
                receive the same object, which includes the changes you made. The following user script
                capitalizes every message you <i>receive</i>.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    // Registers a callback which filters every message you received from the server.
                    $api.on("receive", function(e, data) {
                        // Every message you receive will be automatically capitalized.
                        data.msg = data.msg.toUpperCase();
                    });
                </code>
            </pre>
            <p>
                Every message displayed in the chat buffer will be capitalized.
                <img src="/img/help/scripting/receive_caps.png" style="margin-top: 16px;" />
            </p>
            <p>
                Each time a registered callback is invoked, it receives an event object as the first
                parameter. The event contains two methods which may be useful: <code>Event.stop()</code>,
                and <code>Event.cancel()</code>.
            </p>
            <p>
                Calling <code>Event.stop()</code> inside your callback will stop any other callbacks from
                processing the event. For example if you have three callbacks registered with the "receive"
                event, and the first callback calls <code>Event.stop()</code>, the other two registered callbacks
                will not be invoked.
            </p>
            <p>
                Calling <code>Event.cancel()</code> inside your callback stops the channel from processing
                the message. For instance, the following code will prevent ALL messages from appearing in the
                chat buffer.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.on("receive", function(e, data) {
                        // This causes the channel to completely discard the message, and it won't
                        // be shown in your chat buffer.
                        e.cancel();
                    });
                </code>
            </pre>
            <p>
                The following is a list of events for which callbacks may be registered.
            </p>
            
            <ul style="list-style-type: none; padding: 0;">
                <li id="topic-api-events-loaded">
                    <h5>loaded</h5>
                    Triggered after all page elements have been loaded. Page elements include the user list,
                    chat buffer, and video player.
                </li>
                <li id="topic-api-events-reloaded">
                    <h5>reloading</h5>
                    Triggered after the user scripts have been updated, and are about to be torn down and
                    reinserted into the page.
                </li>
                <li id="topic-api-events-receive">
                    <h5>receive</h5>
                    Triggered when a chat message is received from the server.
                </li>
                <li id="topic-api-events-send">
                    <h5>send</h5>
                    Triggered before sending your messages to the server.
                </li>
                <li id="topic-api-events-notice">
                    <h5>notice</h5>
                    Triggered when a notice is received from the server.
                </li>
                <li id="topic-api-events-user-join">
                    <h5>user_join</h5>
                    Triggered when a user joins the channel.
                </li>
                <li id="topic-api-events-user-leave">
                    <h5>user_leave</h5>
                    Triggered when a user leaves the channel.
                </li>
                <li id="topic-api-events-playlist">
                    <h5>playlist</h5>
                    Triggered when the channel receives the list of videos in the playlist.
                </li>
                <li id="topic-api-events-queue">
                    <h5>queue</h5>
                    Triggered before a video gets added to the playlist.
                </li>
                <li id="topic-api-events-media-change">
                    <h5>media_change</h5>
                    Triggered before the next song in the playlist begins to play.
                </li>
                <li id="topic-api-events-media-update">
                    <h5>media_update</h5>
                    Triggered when the time information for the currently playing video updates.
                </li>
                <li id="topic-api-events-favorites">
                    <h5>favorites</h5>
                    Triggered when you receive your list of favorited videos.
                </li>
                <li id="topic-api-events-favorite-add">
                    <h5>favorite_add</h5>
                    Triggered when you have favorited a video.
                </li>
                <li id="topic-api-events-tags">
                    <h5>tags</h5>
                    Triggered when you receive your list of tags.
                </li>
                <li id="topic-api-events-votes">
                    <h5>votes</h5>
                    Triggered when the votes for the currently playing video have changed.
                </li>
                <li id="topic-api-events-vote-value">
                    <h5>vote_value</h5>
                    Triggered when your vote value changes. Receives a -1, 1, or 0, indicating whether
                    you down voted, up voted, or remain neutral on the vote.
                </li>
                <li id="topic-api-events-emotes">
                    <h5>emotes</h5>
                    Triggered when you receive your list of personal emotes, and after updating
                    your list of emotes.
                </li>
                <li id="topic-api-events-afk">
                    <h5>afk</h5>
                    Triggered when a user goes afk or comes back from afk.
                </li>
                <li id="topic-api-events-profile-menu">
                    <h5>profile_menu</h5>
                    Triggered when the popup profile menu is created for each user in the user list.
                </li>
                <li id="topic-api-events-user-options-save">
                    <h5>user_options_save</h5>
                    Triggered before the user options are saved.
                </li>
                <li id="topic-api-events-channel-option-save">
                    <h5>channel_option_save</h5>
                    Triggered when a channel option is being saved. Only applicable to admins and mods.
                </li>
                <li id="topic-api-events-search-results">
                    <h5>search_results</h5>
                    Triggered with the results of a YouTube search.
                </li>
                <li id="topic-api-events-color-change">
                    <h5>color_change</h5>
                    Triggered when the text color is changed. Fires when the page initially loads as well.
                </li>
            </ul>

            <h4 id="topic-api-methods">Methods</h4>
            <p>
                The API contains a few methods for interacting with the channel. For instance to send messages,
                queue songs, and vote skip videos.
            </p>
            
            <!-- $api.send() -->
            <h5 id="topic-api-methods-send">$api.send()</h5>
            <p>
                The following example uses the <code>$api.send()</code> method to send a message to
                everyone in the channel.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    // Will send the message "Hey everyone, headzoo has arrived!" or whatever
                    // your username is.
                    $api.send("Hey everyone, " + $user.name + " has arrived!");
                </code>
            </pre>

            <!-- $api.queue() -->
            <h5 id="topic-api-methods-queue">$api.queue()</h5>
            <p>
                This example uses the <code>$api.queue()</code> method to add a video to the end of the playlist.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.queue("https://www.youtube.com/watch?v=Tv9YoYCKNoE");
                </code>
            </pre>

            <!-- $api.skip() -->
            <h5 id="topic-api-methods-skip">$api.skip()</h5>
            <p>
                This example uses the <code>$api.skip()</code> method to vote skip the currently playing video.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.skip();
                </code>
            </pre>

            <!-- $api.vote() -->
            <h5 id="topic-api-methods-vote">$api.vote()</h5>
            <p>
                This example uses the <code>$api.vote()</code> method to up/down vote the currently playing video.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    // Upvote the video.
                    $api.vote(1);
                    
                    // Take back the upvote by calling again with the same value.
                    $api.vote(1);
                    
                    // Downvote the video.
                    $api.vote(-1);
                    
                    // Take back the downvote by calling again with the same value.
                    $api.vote(-1);
                </code>
            </pre>

            <!-- $api.playlistClear() -->
            <h5 id="topic-api-methods-playlist-clear">$api.playlistClear()</h5>
            <p>
                This example uses the <code>$api.playlistClear()</code> method to remove all videos from the playlist.
                Only applicable to mods and admins.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.playlistClear();
                </code>
            </pre>

            <!-- $api.playlistShuffle() -->
            <h5 id="topic-api-methods-playlist-shuffle">$api.playlistShuffle()</h5>
            <p>
                This example uses the <code>$api.playlistShuffle()</code> method to shuffle the playlist.
                Only applicable to mods and admins.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.playlistShuffle();
                </code>
            </pre>

            <!-- $api.search() -->
            <h5 id="topic-api-methods-search">$api.search()</h5>
            <p>
                This example uses the <code>$api.search()</code> method to search YouTube. It uses the
                <code>search_results</code> event to receive the search results, and queue the first video.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.on("search_results", function(e, data) {
                        if (data.results.length > 0) {
                            $api.queue(data.results[0]);
                        }
                    });
                    $api.search("Grimes");
                </code>
            </pre>
            
            <!-- $api.clear() -->
            <h5 id="topic-api-methods-clear">$api.clear()</h5>
            <p>
                This example uses the <code>$api.clear()</code> method to clear the chat buffer.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.clear();
                </code>
            </pre>

            <!-- $api.color() -->
            <h5 id="topic-api-methods-clear">$api.color()</h5>
            <p>
                <code>$api.clear(hex_code)</code> Sets the chat text color.
            </p>
            <pre>
                <code class="language-javascript line-numbers">
                    $api.color("#c13b3b");
                </code>
            </pre>
        </div>
        
        <h3 id="topic-examples">Examples</h3>
        <div>
            <h4 id="topic-api-examples-favorites">Queuing Favorites</h4>
            This tiny user script adds one of your favorited videos to the playlist every 30
            minutes.
            
            <pre>
                <code class="language-javascript line-numbers">
                    // The "favorites" event is called when you enter chat. Save the favorites to a local variable.
                    var favorites = [];
                    $api.on("favorites", function(e, data) {
                        favorites = data;
                    });

                    // Called when you add a new favorite. Add it to the list of favorites we're keeping track of.
                    $api.on("favorite_add", function(e, data) {
                        favorites.push(data.media);
                    });

                    // Every 30 minutes, grab one of the favorites at random, and add it to the playlist.
                    setInterval(function() {
                        var item = favorites[Math.floor(Math.random() * favorites.length)];
                        if (item) {
                            $api.queue(item);
                        }
                    }, 1800000); // 30 minutes in milliseconds
                </code>
            </pre>
        </div>
    </div>
{% endblock %}