<footer id="footer">
    <div class="container">
        <p class="text-muted credit">
            Copyright &copy; 2016 pienudes.com<br />
            <a href="/terms">Terms of Service</a>&nbsp;&middot;&nbsp;
            <a href="/privacy">Privacy Policy</a>&nbsp;&middot;&nbsp;
            <a href="/contact">Contact</a>
        </p>
    </div>
</footer>