<footer id="footer">
    <div class="container">
        <p class="text-muted credit">
            Copyright &copy; 2016 pienudes.com<br />
            <a href="/terms" target="_blank">Terms of Service</a>&nbsp;&middot;&nbsp;
            <a href="/privacy" target="_blank">Privacy Policy</a>&nbsp;&middot;&nbsp;
            <a href="/contact" target="_blank">Contact</a>&nbsp;&middot;&nbsp;
            <a href="/help" target="_blank">Help</a><br />
            Join us on reddit at <a href="https://www.reddit.com/r/pienudes" target="_blank">/r/pienudes</a>.
        </p>
    </div>
</footer>