mixin footer
  footer#footer
    .container
      p.text-muted.credit.
        Copyright &copy; 2016 pienudes.com<br /><a href="/useragreement">User Agreement</a>&nbsp;&middot;&nbsp;<a href="/contact">Contact</a>
  script(src="/js/ga.js")
  script(src="/js/jquery-1.11.0.min.js")
  // Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button
  // I should really abandon this crap one day
  script(src="/js/jquery-ui.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
  