<footer id="footer"{% if is_homepage_footer %} class="homepage-footer"{% endif %}>
    <div class="container">
        <p class="credit">
            Copyright &copy; 2016 upnext.fm<br />
            <a href="/terms" target="_blank">Terms of Service</a>&nbsp;&middot;&nbsp;
            <a href="/privacy" target="_blank">Privacy Policy</a>&nbsp;&middot;&nbsp;
            <a href="/contact" target="_blank">Contact</a>&nbsp;&middot;&nbsp;
            <a href="/dmca" target="_blank">DMCA</a>&nbsp;&middot;&nbsp;
            <a href="/help" target="_blank">Help</a>&nbsp;&middot;&nbsp;
            <a href="/about" target="_blank">About Us</a>
        </p>
        <img id="footer-logo" src="/img/logo-footer.png" />
    </div>
</footer>