{% if not pageTitle %}
    {% set pageTitle = siteTitle %}
{% endif %}
<title>{{ pageTitle }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ siteDescription }}">

<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="/favicon.ico" rel="icon" type="image/x-icon">
<link href="/build/bundle.min.css?v={{ cacheBuster }}" rel="stylesheet">
<link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet">
<link href="/css/jquery.textcomplete.css" rel="stylesheet">
<link href="/css/video-js.css" rel="stylesheet">
