<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html.twig" %}
    </head>
    <body>
        <div id="wrap">
            {% include "nav/default.html.twig" %}
            <section id="mainpage">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
        {% include "footer.html.twig" %}
        {% include "scripts.html.twig" %}
    </body>
</html>