<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html.twig" %}
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="/js/ga.js"></script>
        <script src="/js/jquery-1.11.0.min.js"></script>
        <script src="/js/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="/js/spectrum.js"></script>
        <script>
            
            $(function() {
                $("#channel-buffer").mCustomScrollbar({
                    theme: "minimal",
                    autoHideScrollbar: true,
                    mouseWheel: {
                        scrollAmount: 300
                    }
                }).mCustomScrollbar("scrollTo", "bottom");
                $("#channel-user-list").mCustomScrollbar({
                    theme: "minimal",
                    autoHideScrollbar: true,
                    mouseWheel: {
                        scrollAmount: 300
                    }
                });
                
                $("#channel-playlist-items").mCustomScrollbar({
                    theme: "minimal",
                    autoHideScrollbar: true,
                    mouseWheel: {
                        scrollAmount: 300
                    }
                }).mCustomScrollbar("scrollTo", "top");
            });
            
            $(function() {
                $("#channel-buffer-color").spectrum({
                    color: "#FFFFFF",
                    preferredFormat: "hex",
                    showInput: true,
                    clickoutFiresChange: true
                });
            });
        </script>

        {% if pageScripts %}
            {% for script in pageScripts %}
                <script src="{{ script }}?v={{ cacheBuster }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>