<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.html.twig" %}
    </head>
    <body>
        {% block content %}{% endblock %}
        {% include "foot.html.twig" %}
        <script src="/js/ga.js"></script>
        <script src="/js/jquery-1.11.0.min.js"></script>
        <!-- Must be included before jQuery-UI since jQuery-UI overrides jQuery.fn.button-->
        <script src="/js/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        {% include "scripts.html.twig" %}
        <script>
            $("#channelname").keydown(function (ev) {
                if (ev.keyCode === 13) {
                    location.href = "/r/" + $("#channelname").val();
                }
            });
        </script>
        {% if pageScripts %}
            {% for script in pageScripts %}
                <script src="{{ script }}?v={{ cacheBuster }}"></script>
            {% endfor %}
        {% endif %}
    </body>
</html>