{% import "alerts.html.twig" as alerts %}
{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
        {{ alerts.info("Logged Out") }}
        {% if redirect %}
            <p>
                <a href="{{ redirect }}">Return to previous page</a>
            </p>
        {% endif %}
    </div>
{% endblock %}