{% import "macros/links.html.twig" as links %}

{% extends "layout.html.twig" %}
{% block content %}
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <h1>Most Played</h1>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="center">Plays</th>
                <th>Title</th>
                <th>First Queued By</th>
            </tr>
            </thead>
            <tbody>
            {% for m in media %}
                <tr>
                    <td class="center">{{ m.cnt }}</td>
                    <td>
                        {{ links.media(m) }}
                    </td>
                    <td>
                        <a href="/user/{{ m.user }}">
                            {{ m.user }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}