{% extends "layout_profile.html.twig" %}
{% block content %}
    <div id="profile">
        <div id="profile-header" style="background-image: url({{ user.profile.header }});"></div>
        <div class="row margin-remove">
            <div class="col-md-2 col-md-offset-2">
                {% include "users/head.html.twig" %}
            </div>
            <div class="col-md-4">
                {% set empty_msg = "User has not down voted any tracks." %}
                {% include "users/timeline.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}