{% extends "layout_profile.html.twig" %}
{% block content %}
    <div id="profile">
        {% include "users/header.html.twig" %}
        <div class="row margin-remove">
            <div class="col-md-2 col-md-offset-2">
                {% include "users/info.html.twig" %}
            </div>
            <div class="col-md-4">
                {% set empty_msg = "User has not down voted any videos." %}
                {% set page_base_url = "/user/" + user.name + "/disliked" %}
                {% include "users/timeline.html.twig" %}
            </div>
        </div>
    </div>
{% endblock %}