<div id="profile-header" style="background-image: url({{ user.profile.header }}); background-color: #9609B5;">
    {% if loggedIn and loginName == user.name %}
        <div id="profile-header-edit" style="display: none;">
            <span class="glyphicon glyphicon-picture"></span>
            <div class="btn-group">
                <button id="profile-header-edit-upload-btn" class="btn btn-default btn-sm">Upload</button>
                <button id="profile-header-edit-remove-btn" class="btn btn-default btn-sm">Remove</button>
            </div>
            <form id="profile-header-edit-form" enctype="multipart/form-data" style="width: 0; height: 0;">
                <input id="profile-header-edit-file" type="file" name="header" style="width: 0; height: 0;" />
            </form>
        </div>
    {% endif %}
</div>