{% if tags|length > 0 %}
    <ul id="profile-tags" class="card auto-height">
        {% for tag in tags %}
            <li class="tag label{% if tag.name == tag_name %} active{% endif %}">
                <a href="{{ page_base_url }}/tags/{{ tag.name|urlencode }}">{{ tag.name }}</a>
                {% if is_owner %}
                    <span class="profile-tags-remove-btn" data-role="remove" data-tag="{{ tag.name }}" title="Remove tag"></span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}