<div id="chatwrap" class="col-sm-6 col-chat-side" style="padding-right: 0;">
    <div id="chat-container">
        <div id="userlist"></div>
        <div id="messagebuffer" class="linewrap"></div>
        <input id="chatline" class="form-control" type="text" maxlength="240" style="display: none" />
        <div id="guestlogin" class="input-group" style="display: none;">
            <span class="input-group-addon">Guest Login</span>
            <input id="guestname" class="form-control" type="text" placeholder="Enter a nickname here and hit enter to join chat and add songs to the playlist." />
        </div>
    </div>
    <div class="chatbuttons card">
        <div class="btn-group">
            <button id="modflair" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-tint"></span>
                Name Color
            </button>
            <button id="biobtn" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-book"></span>
                Information
            </button>
            <button id="clearbtn" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-erase"></span>
                Clear
            </button>
            <button id="newpollbtn" class="btn btn-sm btn-default hidden-xs hidden-sm">
                <span class="glyphicon glyphicon-signal"></span>
                Poll
            </button>
            <button id="emotelistbtn" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-sunglasses"></span>
                Emotes
            </button>
            
            <button id="chat-attachment-btn" class="btn btn-sm btn-default pull-right" title="Attach file (10MB limit)" style="display: none;">
                <span class="glyphicon glyphicon-paperclip"></span>
            </button>
            <input id="chatcolor" type="color" />
            <input type="file" id="chat-attachment-file" style="display: none" />
        </div>
    </div>
</div>