{% extends "layout_channel.html.twig" %}
{% block content %}
    <div id="wrap" class="channel-page">
        {% include "nav/default.html.twig" %}
        <section id="mainpage">
            <div class="container-fluid">
                {% include "channel/top.html.twig" %}
                
                <div id="main" class="row">
                    {% include "channel/left-column.html.twig" %}
                    {% include "channel/right-column.html.twig" %}
                </div>
                
                <div id="resizewrap" class="row">
                    <div class="col-lg-5 col-md-5"></div>
                    <div id="videowidth" class="col-lg-7 col-md-7"></div>
                </div>
            </div>
        </section>
    </div>
    {% include "channel/emotes.html.twig" %}
    {% include "channel/user_options.html.twig" %}
    {% include "channel/channel_options.html.twig" %}
    {% include "channel/install_script.html.twig" %}
    <div id="pmbar"></div>
    <script src="{{ sioSource }}"></script>
{% endblock %}