{% extends "layout_channel.html.twig" %}
{% block content %}
    <div id="wrap">
        {% include "nav/default.html.twig" %}
        <section id="mainpage">
            <div class="container-fluid">
                <div id="motdrow" class="row hidden-xs">
                    <div class="col-lg-12 col-md-12">
                        <div id="motdwrap" class="well">
                            <button id="togglemotd" class="close pull-right" type="button">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <div id="motd"></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div id="announcements" class="row"></div>
                <div id="drinkbarwrap" class="row">
                    <div id="drinkbar" class="col-lg-12 col-md-12">
                        <h1 id="drinkcount"></h1>
                    </div> 
                </div>
                
                <div id="main" class="row">
                    <div id="chatwrap" class="col-lg-7 col-md-7">
                        <div id="chatheader">
                            <i id="userlisttoggle" class="glyphicon glyphicon-chevron-down pull-left.pointer" title="Show/Hide Userlist"></i>
                            <span id="usercount" class="pointer">Not Connected</span>
                        </div>
                        <div id="userlist"></div>
                        <div id="messagebuffer" class="linewrap"></div>
                        <input id="chatline" class="form-control" type="text" maxlength="240" style="display: none" />
                        <div id="guestlogin" class="input-group" style="display: none;">
                            <span class="input-group-addon">Guest Login</span>
                            <input id="guestname" class="form-control" type="text" placeholder="Enter nickname and hit enter." />
                        </div>
                        <div class="chatbuttons">
                            <div class="btn-group">
                                <button id="modflair" class="btn btn-sm btn-default">Name Color</button>
                                <button id="biobtn" class="btn btn-sm btn-default">Information</button>
                                <button id="newpollbtn" class="btn btn-sm btn-default">New Poll</button>
                                <button id="emotelistbtn" class="btn btn-sm btn-default">Emote List</button>
                                <button id="clearbtn" class="btn btn-sm btn-default">Clear</button>
                            </div>
                            <input id="chatcolor" type="color" />
                        </div>
                    </div>
                    <div id="videowrap-mount">
                        <div id="videowrap" class="col-lg-5 col-md-5" style="padding-left: 0;">
                            <p id="currenttitle">Nothing Playing</p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <div id="ytapiplayer" class="embed-responsive-item"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div id="plcontrol" class="btn-group chatbuttons">
                                        <button id="showsearch" class="btn btn-sm btn-default" title="Search for a video" data-toggle="collapse" data-target="#searchcontrol">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </button>
                                        <button id="showmediaurl" class="btn btn-sm btn-default" title="Add video from URL" data-toggle="collapse" data-target="#addfromurl">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button id="showcustomembed" class="btn btn-sm btn-default" title="Embed a custom frame" data-toggle="collapse" data-target="#playlistmanager">
                                            <span class="glyphicon glyphicon-th-large"></span>
                                        </button>
                                        <button id="showplaylistmanager" class="btn btn-sm btn-default" title="Manage playlists" data-toggle="collapse" data-target="#playlistmanager">
                                            <span class="glyphicon glyphicon-list"></span>
                                        </button>
                                        <button id="clearplaylist" class="btn btn-sm btn-default" title="Clear the playlist">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        <button id="shuffleplaylist" class="btn btn-sm btn-default" title="Shuffle the playlist">
                                            <span class="glyphicon glyphicon-sort"></span>
                                        </button>
                                        <button id="qlockbtn" class="btn btn-sm btn-default" title="Playlist locked">
                                            <span class="glyphicon glyphicon-lock"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div id="videovotes" class="btn-group chatbuttons">
                                        <button id="voteup" class="btn btn-sm btn-default" title="Upvote">
                                            <span class="glyphicon glyphicon-chevron-up"></span> <span id="voteupvalue">0</span>
                                        </button>
                                        <button id="showfavorites" class="btn btn-sm btn-default" title="Add to favorites" data-toggle="collapse" data-target="#favorites">
                                            <span class="glyphicon glyphicon-star"></span>
                                        </button>
                                        <button id="votedown" class="btn btn-sm btn-default" title="Downvote">
                                            <span class="glyphicon glyphicon-chevron-down"></span> <span id="votedownvalue">0</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div id="videocontrols" class="btn-group pull-right">
                                        <button id="mediarefresh" class="btn btn-sm btn-default" title="Reload the video player">
                                            <span class="glyphicon glyphicon-retweet"></span>
                                        </button>
                                        <button id="fullscreenbtn" class="btn btn-sm btn-default" title="Make the video player fullscreen">
                                            <span class="glyphicon glyphicon-fullscreen"></span>
                                        </button>
                                        <button id="voteskip" class="btn btn-sm btn-default" title="Voteskip">
                                            <span class="glyphicon glyphicon-step-forward"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="playlistrow" class="row">
                    <div id="leftpane" class="col-lg-7 col-md-7">
                        <div id="leftpane-inner" class="row">
                            <div id="biowrap" class="col-lg-12 col-md-12">
                                <div id="bio" class="well" style="display: none;"></div>
                            </div>
                            <div id="pollwrap" class="col-lg-12 col-md-12"></div>
                            <div id="playlistmanagerwrap" class="col-lg-12 col-md-12"></div>
                        </div>
                    </div>
                    <div id="rightpane" class="col-lg-5 col-md-5" style="padding-left: 0;">
                        <div id="rightpane-inner" class="row">
                            <div id="searchcontrol" class="collapse plcontrol-collapse col-lg-12 col-md-12">
                                <div class="vertical-spacer"></div>
                                <div class="input-group">
                                    <input id="library_query" class="form-control" type="text" placeholder="Search Query" />
                                    <span class="input-group-btn">
                                        <button id="library_search" class="btn btn-default">Library</button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button id="youtube_search" class="btn btn-default">Youtube</button>
                                    </span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="add-temp" type="checkbox" />
                                        Add as temporary
                                    </label>
                                </div>
                                <ul id="library" class="videolist col-lg-12 col-md-12"></ul>
                            </div>
                            <div id="addfromurl" class="collapse plcontrol-collapse col-lg-12 col-md-12">
                                <div class="vertical-spacer"></div>
                                <div class="input-group">
                                    <input id="mediaurl" class="form-control" type="text" placeholder="Media URL" />
                                    <span class="input-group-btn">
                                        <button id="queue_next" class="btn btn-default">Next</button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button id="queue_end" class="btn btn-default">At End</button>
                                    </span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="add-temp" type="checkbox" />
                                        Add as temporary
                                    </label>
                                </div>
                                <div id="addfromurl-queue"></div>
                            </div>
                            <div id="customembed" class="collapse plcontrol-collapse col-lg-12 col-md-12">
                                <div class="vertical-spacer"></div>
                                <div class="input-group">
                                    <input id="customembed-title" class="form-control" type="text" placeholder="Title (optional)" />
                                    <span class="input-group-btn">
                                        <button id="ce_queue_next" class="btn btn-default">Next</button>
                                    </span>
                                    <span class="input-group-btn">
                                        <button id="ce_queue_end" class="btn btn-default">At End</button>
                                    </span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="add-temp" type="checkbox" />
                                        Add as temporary
                                        Paste the embed code below and click Next or At End.
                                        Acceptable embed codes are <code>&lt;iframe&gt;</code> and <code>&lt;object&gt;</code> tags.
                                        <strong>CUSTOM EMBEDS CANNOT BE SYNCHRONIZED.</strong>
                                    </label>
                                </div>
                                <textarea id="customembed-content" class="input-block-level form-control" rows="3"></textarea>
                            </div>
                            <div id="playlistmanager" class="collpse plcontrol-collapse col-lg-12 col-md-12">
                                <div class="vertical-spacer"></div>
                                <div class="input-group">
                                    <input id="userpl_name" class="form-control" type="text" placeholder="Playlist Name" />
                                    <span class="input-group-btn">
                                        <button id="userpl_save" class="btn btn-default">Save</button>
                                    </span>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="add-temp" type="checkbox" />
                                        Add as temporary
                                    </label>
                                </div>
                                <ul id="userpl_list" class="videolist"></ul>
                            </div>
                            
                            <div id="favorites" class="collapse plcontrol-collapse col-lg-12 col-md-12">
                                <div class="vertical-spacer"></div>
                                <div class="input-group">
                                    <input id="favorites-tags" class="form-control" type="text" value="" data-default-value="{{ channelName }}" data-role="tagsinput" />
                                    <span class="input-group-btn">
                                        <button id="favorites-add" class="btn btn-default" type="button">Favorite</button>
                                    </span>
                                </div>
                                <p class="text-muted">
                                    Optional tags need to be space " " separated.
                                </p>
                                <div class="vertical-spacer"></div>
                                <ul id="favorites-tag-list"></ul>
                                <div id="favorites-thumbs" class="row"></div>
                            </div>
                            
                            <div id="queuefail" class="col-lg-12 col-md-12">
                                <div class="vertical-spacer"></div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div id="plmeta">
                                    <span id="plcount">0 items</span>
                                    <span id="pllength">00:00:00</span>
                                </div>
                                <ul id="queue" class="videolist"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="resizewrap" class="row">
                    <div class="col-lg-5 col-md-5"></div>
                    <div id="videowidth" class="col-lg-7 col-md-7"></div>
                </div>
            </div>
        </section>
    </div>
    {% include "channel/emotes.html.twig" %}
    {% include "channel/user_options.html.twig" %}
    {% include "channel/channel_options.html.twig" %}
    <div id="pmbar"></div>
    <script src="{{ sioSource }}"></script>
{% endblock %}