<div id="leftpane" class="col-sm-6 col-chat-side">
    <div id="biowrap">
        <div id="bio" class="card" style="display: none;"></div>
    </div>
    <div id="pollwrap"></div>
    <div id="playlistmanagerwrap" class="col-lg-12 col-md-12"></div>
</div>