<div id="leftpane" class="col-sm-6 col-md-6 col-chat-side">
    <div id="leftpane-inner" class="row">
        <div id="biowrap" class="col-lg-12 col-md-12">
            <div id="bio" class="well" style="display: none;"></div>
        </div>
        <div id="pollwrap" class="col-lg-12 col-md-12"></div>
        <div id="playlistmanagerwrap" class="col-lg-12 col-md-12"></div>
    </div>
</div>