<div class="col-sm-6 col-video-side" >
    <div id="queue-header" class="card">
        <div id="plmeta">
            <div class="input-group">
                <input id="mediaurl" class="form-control" type="text" placeholder="Play something... (Links from YouTube, SoundCloud, Vimeo, and others)" />
                <span class="input-group-btn">
                    <button id="queue_end" class="btn btn-default" style="padding-right: 0;">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </span>
            </div>
            <div id="queuefail" class="col-lg-12 col-md-12">
                <div class="vertical-spacer"></div>
            </div>
            <div id="pltimes">
                <span id="pllength">00:00</span>
            </div>
            <div class="plbuttons">
                <button id="showsearch" class="btn btn-sm btn-default" title="Search for a video">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <button id="clearplaylist" class="btn btn-sm btn-default" title="Clear the playlist">
                    <span class="glyphicon glyphicon-trash"></span> Clear
                </button>
                <button id="shuffleplaylist" class="btn btn-sm btn-default" title="Shuffle the playlist">
                    <span class="glyphicon glyphicon-random"></span> Shuffle
                </button>
                <button id="qlockbtn" class="btn btn-sm btn-default" title="Playlist locked">
                    <span class="glyphicon glyphicon-lock"></span> Lock
                </button>
            </div>
        </div>
    </div>
    
    <div id="searchcontrol-container" style="display: none">
        <div id="searchcontrol" class="card">
            <div class="input-group">
                <input id="library_query" class="form-control" type="text" placeholder="Search term..." />
                <span class="input-group-btn">
                    <button id="youtube_search" class="btn btn-default" style="padding-right: 0;">
                        <span class="glyphicon glyphicon-search"></span>
                        Youtube
                    </button>
                </span>
            </div>
        </div>

        <div id="library-container" class="card" style="display: none;">
            <div class="thumb-btn-group-container">
                <button class="btn btn-default btn-sm pull-left" id="search_clear">
                    <span class="glyphicon glyphicon-erase"></span> Clear Results
                </button>
                <div class="btn-group">
                    <button class="btn bt-default btn-grid">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                    <button class="btn bt-default btn-rows">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
            </div>
            <div id="library" class="videolist"></div>
        </div>
    </div>
    
    <div id="video-playlist" class="card"></div>
</div>