<div class="col-sm-6 col-video-side" >
    <div id="video-container" class="embed-responsive embed-responsive-16by9">
        <div id="ytapiplayer" class="embed-responsive-item"></div>
    </div>

    <div id="video-header" class="card">
        <div id="video-header-title">Nothing Playing</div>
        <div id="video-header-info">
            <div id="video-header-play-count"></div>
            <img id="video-header-avatar" class="avatar" src="https://s3.amazonaws.com/images.upnext.fm/emotes_1_md.jpg" />
            <div id="video-header-user-info">
                <div id="video-header-queueby"></div>
                <div id="video-header-first-play"></div>
            </div>
        </div>
        
        <div id="video-header-controls">
            <button id="showfavorites" class="btn btn-sm btn-default" data-target="#favorites">
                <span class="glyphicon glyphicon-heart"></span> Favorites
            </button>
            <button id="voteskip" class="btn btn-sm btn-default">
                <span class="glyphicon glyphicon-step-forward"></span> Vote Skip
            </button>
            <button id="widerlayout" class="btn btn-sm btn-default hidden-xs hidden-sm" data-size="small">
                <span class="glyphicon glyphicon-resize-full"></span> Bigger
            </button>

            <div id="videovotes" class="btn-group pull-right">
                <button id="voteup" class="btn btn-sm btn-default btn-vote" title="Up vote">
                    <span class="glyphicon glyphicon-chevron-up"></span> <span id="voteupvalue">0</span>
                </button>
                <button id="votedown" class="btn btn-sm btn-default btn-vote" title="Down vote" style="padding-right:0;">
                    <span class="glyphicon glyphicon-chevron-down"></span> <span id="votedownvalue">0</span>
                </button>
            </div>
        </div>
    </div>

    <div id="favorites-container" style="display: none;">
        <div id="favorites" class="card">
            <div class="input-group">
                <input id="favorites-tags" class="form-control" type="text" value="" data-default-value="{{ channelName }}" data-role="tagsinput" />
                    <span class="input-group-btn">
                        <button id="favorites-add" class="btn btn-default" type="button" style="padding-right:0;">Favorite</button>
                    </span>
            </div>
            <p class="text-muted">
                Optional tags need to be space " " separated.
            </p>
        </div>

        <div id="favorites-tags-list-container" class="card">
            <ul id="favorites-tag-list"></ul>
            <div class="thumb-btn-group-container">
                <div class="btn-group">
                    <button class="btn bt-default btn-grid">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                    <button class="btn bt-default btn-rows">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
            </div>
            <div id="favorites-thumbs" class="videolist"></div>
        </div>
    </div>
    
    <div id="queue-header" class="card">
        <div id="plmeta">
            <div class="input-group">
                <input id="mediaurl" class="form-control" type="text" placeholder="Play something... (Links from YouTube, SoundCloud, Vimeo, and others)" />
                <span class="input-group-btn">
                    <button id="queue_end" class="btn btn-default" style="padding-right: 0;">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                    <button id="queue_next" class="btn btn-default" style="padding-right: 0;">
                        <span class="glyphicon glyphicon-plus"></span> Next
                    </button>
                </span>
            </div>
            <div id="queuefail" class="col-lg-12 col-md-12">
                <div class="vertical-spacer"></div>
            </div>
            <div id="pltimes">
                <span id="pllength">00:00</span>
            </div>
            <div class="plbuttons">
                <button id="showsearch" class="btn btn-sm btn-default" title="Search for a video">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <button id="clearplaylist" class="btn btn-sm btn-default" title="Clear the playlist">
                    <span class="glyphicon glyphicon-trash"></span> Clear
                </button>
                <button id="shuffleplaylist" class="btn btn-sm btn-default" title="Shuffle the playlist">
                    <span class="glyphicon glyphicon-random"></span> Shuffle
                </button>
                <button id="qlockbtn" class="btn btn-sm btn-default" title="Playlist locked">
                    <span class="glyphicon glyphicon-lock"></span> Lock
                </button>
            </div>
        </div>
    </div>
    
    <div id="searchcontrol-container" style="display: none">
        <div id="searchcontrol" class="card">
            <div class="input-group">
                <input id="library_query" class="form-control" type="text" placeholder="Search term..." />
                <span class="input-group-btn">
                    <button id="youtube_search" class="btn btn-default" style="padding-right: 0;">
                        <span class="glyphicon glyphicon-search"></span>
                        Youtube
                    </button>
                </span>
            </div>
        </div>

        <div id="library-container" class="card" style="display: none;">
            <div class="thumb-btn-group-container">
                <button class="btn btn-default btn-sm pull-left" id="search_clear">
                    <span class="glyphicon glyphicon-erase"></span> Clear Results
                </button>
                <div class="btn-group">
                    <button class="btn bt-default btn-grid">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </button>
                    <button class="btn bt-default btn-rows">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </button>
                </div>
            </div>
            <div id="library" class="videolist"></div>
        </div>
    </div>
    
    <div id="video-playlist" class="card"></div>
</div>