<div id="motdrow" class="row hidden-xs">
    <div class="col-lg-12 col-md-12">
        <div id="motdwrap" class="well">
            <button id="togglemotd" class="close pull-right" type="button">
                <span class="glyphicon glyphicon-minus"></span>
            </button>
            <div id="motd"></div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div id="announcements" class="row"></div>
{% if safemode %}
    <div class="alert alert-warning">
        This page is running in safe mode. Your user scripts will not execute in safe mode but you
        can edit them. <a href="#" onclick="document.location = document.location.href.split('?')[0]">Exit Safe Mode</a>.
    </div>
{% endif %}