<div id="videowrap-mount">
    <div id="videowrap" class="col-sm-6 col-md-6 col-video-side">
        
        <div class="embed-responsive embed-responsive-16by9">
            <div id="ytapiplayer" class="embed-responsive-item"></div>
        </div>

        <div id="video-header" class="card">
            <div id="video-header-title">Nothing Playing</div>
            <div id="video-header-info">
                <div id="video-header-play-count"></div>
                <img class="avatar" src="https://uploads.pienudes.com/profiles/avatars/headzoo-1461701049048.png" />
                <div id="video-header-user-info">
                    <div id="video-header-queueby"></div>
                    <div id="video-header-first-play"></div>
                </div>
            </div>
            <div id="video-header-controls">
                <button id="showfavorites" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#favorites">
                    <span class="glyphicon glyphicon-star"></span> Favorite
                </button>
                <button id="voteskip" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-step-forward"></span> Vote Skip
                </button>

                <div id="videovotes" class="btn-group pull-right">
                    <button id="voteup" class="btn btn-sm btn-default btn-vote" title="Up vote">
                        <span class="glyphicon glyphicon-chevron-up"></span> <span id="voteupvalue">0</span>
                    </button>
                    <button id="votedown" class="btn btn-sm btn-default btn-vote" title="Down vote" style="padding-right:0;">
                        <span class="glyphicon glyphicon-chevron-down"></span> <span id="votedownvalue">0</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>