<div id="videowrap-mount">
    <div id="videowrap" class="col-sm-6 col-video-side">
        
        <div id="video-container" class="embed-responsive embed-responsive-16by9">
            <div id="ytapiplayer" class="embed-responsive-item"></div>
        </div>

        <div id="video-header" class="card">
            <div id="video-header-title">Nothing Playing</div>
            <div id="video-header-info">
                <div id="video-header-play-count"></div>
                <img id="video-header-avatar" class="avatar" src="https://s3.amazonaws.com/images.upnext.fm/emotes_1_md.jpg" />
                <div id="video-header-user-info">
                    <div id="video-header-queueby"></div>
                    <div id="video-header-first-play"></div>
                </div>
            </div>
            <div id="video-header-controls">
                <button id="showfavorites" class="btn btn-sm btn-default" data-target="#favorites">
                    <span class="glyphicon glyphicon-heart"></span> Favorites
                </button>
                <button id="voteskip" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-step-forward"></span> Vote Skip
                </button>
                <button id="widerlayout" class="btn btn-sm btn-default hidden-xs hidden-sm" data-size="small">
                    <span class="glyphicon glyphicon-resize-full"></span> Bigger
                </button>

                <div id="videovotes" class="btn-group pull-right">
                    <button id="voteup" class="btn btn-sm btn-default btn-vote" title="Up vote">
                        <span class="glyphicon glyphicon-chevron-up"></span> <span id="voteupvalue">0</span>
                    </button>
                    <button id="votedown" class="btn btn-sm btn-default btn-vote" title="Down vote" style="padding-right:0;">
                        <span class="glyphicon glyphicon-chevron-down"></span> <span id="votedownvalue">0</span>
                    </button>
                </div>
            </div>
        </div>

        <div id="favorites-container" style="display: none;">
            <div id="favorites" class="card">
                <div class="input-group">
                    <input id="favorites-tags" class="form-control" type="text" value="" data-default-value="{{ channelName }}" data-role="tagsinput" />
                    <span class="input-group-btn">
                        <button id="favorites-add" class="btn btn-default" type="button" style="padding-right:0;">Favorite</button>
                    </span>
                </div>
                <p class="text-muted">
                    Optional tags need to be space " " separated.
                </p>
            </div>
    
            <div id="favorites-tags-list-container" class="card">
                <ul id="favorites-tag-list"></ul>
                <div id="favorites-thumbs" class="row videolist"></div>
            </div>
        </div>
    </div>
</div>