#channel-mount {
  height: 100%;
}
#channel-wrap {
  height: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  font-family: 'Roboto', sans-serif;
}
#channel-user-list-wrap {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 12px 6px;
  vertical-align: top;
  background-color: #1b1b1b;
}
#channel-user-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#channel-user-list ul .glyphicon-time {
  padding-right: 6px;
}
#channel-user-list ul li {
  cursor: pointer;
}
#channel-user-list-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 38px;
  background-color: #212b40;
  text-align: center;
  padding: 4px 6px 4px 6px;
  font-size: 12px;
  -webkit-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.3);
}
.channel-user-list-rank-admin {
  color: #CC4F4F!important;
  font-weight: bold!important;
}
.channel-user-list-rank-owner {
  color: #0000cc!important;
  font-weight: bold!important;
}
.channel-user-list-rank-op {
  color: #00aa00!important;
}
.channel-user-list-rank-guest {
  color: #888888!important;
}
.channel-user-list-tagline {
  font-size: 10px;
}
#channel-buffer-wrap {
  position: relative;
  height: 100%;
  vertical-align: top;
  overflow: hidden;
}
#channel-buffer-wrap img {
  vertical-align: top;
  max-height: 100px;
}
#channel-buffer {
  overflow: hidden;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  left: 12px;
  right: 0;
  bottom: 56px;
}
#channel-buffer .embedded-image {
  max-height: 125px;
}
#channel-buffer-input-wrap,
#channel-video-input-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 38px;
  display: flex;
  border-top: 1px solid #1c2436;
  border-right: 1px solid #1c2436;
}
#channel-buffer-input-wrap ul,
#channel-video-input-wrap ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#channel-buffer-input-wrap ul li,
#channel-video-input-wrap ul li {
  display: inline-block;
}
#channel-video-input-wrap {
  background-color: #000;
}
#channel-buffer-input,
#channel-video-input {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  border: 0;
  margin-top: 2px;
  padding: 6px;
}
#channel-buffer-input::-webkit-input-placeholder,
#channel-video-input::-webkit-input-placeholder {
  color: #3E3E3E;
}
#channel-buffer-input.channel-buffer-guest-login,
#channel-video-input.channel-buffer-guest-login {
  border: 1px solid #194850;
  margin-top: 0;
}
#channel-buffer-input.channel-buffer-guest-login::-webkit-input-placeholder,
#channel-video-input.channel-buffer-guest-login::-webkit-input-placeholder {
  color: #5c5c5c;
}
.channel-buffer-button,
.channel-video-button {
  background: #212b40 !important;
  border: solid 1px #1c2436 !important;
  padding: 4px 15px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .channel-buffer-button,
  .channel-video-button {
    padding: 4px 30px;
  }
}
.channel-buffer-button:focus,
.channel-video-button:focus {
  outline: none;
}
.channel-buffer-button:hover,
.channel-video-button:hover {
  background: #38496b !important;
}
#channel-buffer-send,
#channel-video-add {
  width: 80px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
#channel-video-add {
  width: 46px;
  padding-top: 0;
}
.sp-replacer {
  background: #212b40 !important;
  border: solid 1px #1c2436 !important;
  padding: 4px 15px;
  text-transform: uppercase;
  padding: 7px 12px !important;
}
@media only screen and (max-width: 768px) {
  .sp-replacer {
    padding: 4px 30px;
  }
}
.sp-replacer:focus {
  outline: none;
}
.sp-replacer:hover {
  background: #38496b !important;
}
@media only screen and (max-width: 768px) {
  .sp-replacer {
    padding: 10px 20px;
  }
}
.sp-container {
  background: #212b40 !important;
  border: solid 1px #1c2436 !important;
  padding: 4px 15px;
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .sp-container {
    padding: 4px 30px;
  }
}
.sp-container:focus {
  outline: none;
}
.sp-container:hover {
  background: #38496b !important;
}
.sp-picker-container {
  border-left: none !important;
}
.sp-preview {
  width: 22px !important;
}
.sp-input {
  border: none !important;
  background-color: #2D2D2D !important;
  color: #FFF !important;
  border-radius: 0 !important;
  font-family: 'Roboto', sans-serif !important;
}
.sp-color,
.sp-hue {
  border: solid 1px #3C3C3C !important;
}
.sp-slider {
  background: #1b1b1b !important;
}
.sp-button-container button {
  background: #212b40 !important;
  border: solid 1px #1c2436 !important;
  padding: 4px 15px;
  text-transform: uppercase;
  background: #282828 !important;
  text-shadow: none !important;
  color: #FFF !important;
}
@media only screen and (max-width: 768px) {
  .sp-button-container button {
    padding: 4px 30px;
  }
}
.sp-button-container button:focus {
  outline: none;
}
.sp-button-container button:hover {
  background: #38496b !important;
}
#channel-buffer-emote,
#channel-video-catalog {
  width: 46px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
}
#channel-buffer-emote:focus,
#channel-video-catalog:focus {
  outline: none;
}
#channel-emote-picker {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 44px;
  height: 70px;
  display: none;
  width: 100%;
  padding: 4px;
  margin: 0;
  list-style-type: none;
  background-color: #000;
  border-top: 1px solid #1b1b1b;
  border-right: 1px solid #1b1b1b;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#channel-emote-picker div {
  display: inline-block;
  margin-right: 4px;
  cursor: pointer;
  min-width: 20px;
  transition: all 0.2s ease-in-out;
}
#channel-emote-picker div:hover {
  transform: scale(1.05);
}
#channel-emote-picker div img {
  max-height: 50px;
  max-width: 50px;
  vertical-align: middle;
}
#channel-video-catalog {
  width: 60px;
}
#channel-video-wrap {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
#channel-video-frame {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 5px;
  height: 0;
  -webkit-flex: none;
  flex: none;
}
#channel-video-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#channel-video-frame img {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
}
#channel-video-progress {
  height: 2px;
  width: 100%;
  background-color: #222;
}
#channel-video-progress span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #334261;
  transition: width 1s linear;
}
#channel-playlist {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-bottom: 20px;
  position: relative;
}
#channel-playlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #AAA;
}
#channel-playlist ul li {
  padding: 2px 18px 2px 2px;
}
#channel-playlist-items {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#channel-playlist-items table {
  width: 100%;
  background-color: transparent;
}
#channel-playlist-items table tr {
  height: 50px;
  padding: 0;
}
.channel-playlist-thumbnail {
  width: 72px;
}
.channel-playlist-thumbnail img {
  height: 50px;
  border: 1px solid #282828;
}
.channel-playlist-info {
  vertical-align: top;
}
.channel-playlist-title {
  color: #CCC;
}
.channel-playlist-title img {
  height: 12px;
  margin-top: -5px;
  display: inline-block;
}
.channel-playlist-duration {
  font-size: 12px;
}
.channel-playlist-username {
  color: #636262;
}
.channel-playlist-links {
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 10px;
}
.channel-playlist-links a {
  color: #4b7ad6;
  cursor: pointer;
}
.channel-playlist-links a:hover {
  color: #7599df;
  text-decoration: underline;
}
.channel-playlist-requeue-icon {
  font-size: 12px;
  vertical-align: middle;
  margin-top: -3px;
  margin-left: 4px;
  color: #636262;
}
#channel-video-controls {
  margin: 5px 0 20px 0;
  flex: 0 1 30px;
}
.channel-video-controls-vote-button {
  vertical-align: middle;
  float: right;
  cursor: pointer;
}
#channel-video-controls-vote-up {
  vertical-align: middle;
  float: right;
  cursor: pointer;
  margin-right: -4px;
}
#channel-video-controls-vote-up .glyphicon-chevron-up {
  vertical-align: middle;
  color: #013E01;
  font-size: 26px;
  margin-top: -9px;
}
#channel-video-controls-vote-up .channel-video-controls-vote-value {
  margin-right: 4px;
}
#channel-video-controls-vote-up.active .glyphicon-chevron-up {
  color: #019E01;
}
#channel-video-controls-vote-up.active .channel-video-controls-vote-value {
  color: #7D7D7D;
}
#channel-video-controls-vote-up:hover .glyphicon-chevron-up {
  color: #037703;
}
#channel-video-controls-vote-up:hover .channel-video-controls-vote-value {
  color: #7D7D7D;
}
#channel-video-controls-vote-down {
  vertical-align: middle;
  float: right;
  cursor: pointer;
}
#channel-video-controls-vote-down .glyphicon-chevron-down {
  vertical-align: middle;
  color: #5A0902;
  font-size: 26px;
  margin-top: -5px;
}
#channel-video-controls-vote-down .channel-video-controls-vote-value {
  margin-left: 4px;
}
#channel-video-controls-vote-down.active .glyphicon-chevron-down {
  color: #B31508;
}
#channel-video-controls-vote-down.active .channel-video-controls-vote-value {
  color: #7D7D7D;
}
#channel-video-controls-vote-down:hover .glyphicon-chevron-down {
  color: #9E1004;
}
#channel-video-controls-vote-down:hover .channel-video-controls-vote-value {
  color: #7D7D7D;
}
.channel-video-controls-vote-value {
  color: #585858;
  font-size: 18px;
}
.playlist-enter {
  opacity: 0.01;
}
.playlist-enter.playlist-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.playlist-leave {
  opacity: 1;
}
.playlist-leave.playlist-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.playlist-appear {
  opacity: 0.01;
}
.playlist-appear.playlist-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.sp-dd {
  display: none;
}
.ReactModal__Content:focus,
.ReactModal__Content:active {
  outline: none;
}
.ReactModal__Content.modal-dialog-error {
  max-width: 400px !important;
}
.ReactModal__Content .modal-content {
  margin: 60px auto;
  border-radius: 0;
}
.ReactModal__Content .modal-content:focus,
.ReactModal__Content .modal-content:active {
  outline: none;
}
.ReactModal__Content .modal-content .modal-header,
.ReactModal__Content .modal-content .modal-footer,
.ReactModal__Content .modal-content .modal-content {
  padding: 8px;
}
.ReactModal__Content .modal-content .modal-header h4 {
  font-size: 14px;
}
