@import "variables";
@standard-padding: 12px;
@standard-font-size: 12px;
@card-background-color: #222;
@card-divider-color: #000;

.channel-input {
  background-color: #1B1B1B;
  border: 1px solid @card-divider-color;
  color: #FFFFFF;
  font-size: 14px;
  height: 34px;

  &::-webkit-input-placeholder {
    color:    #555;
  }
  &:-moz-placeholder {
    color:    #555;
    opacity:  1;
  }
  &::-moz-placeholder {
    color:    #555;
    opacity:  1;
  }
  &:-ms-input-placeholder {
    color:    #555;
  }
}

.channel-page {
  .card {
    padding: @standard-padding;
    background: @card-background-color;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
  }

  .btn {
    background: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-size: @standard-font-size;

    &:hover, &.activated {
      z-index: 0;
      color: #E2A630;
    }
    
    .glyphicon {
      margin-right: 4px;
    }
  }
}

#video-header {
  margin-top: 4px;
  .channel-card-drop-shadow;
}

#queue-header {
  margin-bottom: 4px;
  margin-top: 8px;
  .channel-card-drop-shadow;
}

#plmeta {
  input {
    .channel-input;
  }
  
  .plbuttons {
    padding-top: @standard-padding;
  }
}

#video-playlist {
  padding: 0 @standard-padding;
  font-size: @standard-font-size;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 0 !important;
  .channel-card-drop-shadow;
  
  .playlist-row {
    width: 100%;
    margin: @standard-padding 0;
    height: 50px;
    background-color: @card-background-color;
    border-bottom: 1px solid @card-divider-color;
    
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    &.playing {
      .video-playlist-eq {
        display: inline-block;
      }
    }
  }

  .video-playlist-eq {
    height: 12px;
    width: 12px;
    vertical-align: text-top;
    margin-right: 4px;
    display: none;
  }
  
  .video-playlist-thumbnail-container {
    float: left;
    width: 65px;
    height: 37px;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
  
  .video-playlist-meta-container {
    margin-left: 78px;
    position: relative;
  }

  .video-playlist-time {
    float: right;
    color: #BBB;
  }

  .video-playlist-title {
    display: block;
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: 500;
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .video-playlist-queueby {
    color: #BBB;
    
    a {
      color: #BBB;
    }
  }
  
  .video-playlist-delete-btn {
    position: absolute;
    right: 0;
    top: 20px;
    cursor: pointer;
    color: #BBB;
    
    &:hover {
      color: #E2A630;
    }
  }
}

#video-header-title {
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  max-height: 24px;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: @standard-padding;
}

#video-header-info {
  font-size: 13px;
  
  .avatar {
    width: 40px;
    height: 40px;
    float: left;
  }
}

#video-header-user-info {
  margin-left: 50px;
  margin-bottom: @standard-padding;
  height: 40px;
}

#video-header-first-play {
  font-size: 10px;
}

#video-header-play-count {
  float: right;
  margin-top: 20px;
}

#video-header-controls {
  padding-top: @standard-padding;
  border-top: 1px solid @card-divider-color;

  .btn-vote {
  
    .glyphicon {
      font-size: 18px;
    }
  }
}

#chatline {
  &:focus {
    border-color: #212121 !important;
  }
}

.chatbuttons {
  margin-top: 4px;
  min-height: 20px !important;
  
  .btn-group {
    width: 100%;
  }
}

#videowrap, #chatwrap {
  margin-bottom: -4px !important;
}

#chat-container, #video-container {
  .channel-card-drop-shadow;
}

#video-container {
  border: 1px solid #212121 !important;
}

#searchcontrol, #favorites {
  min-height: 0 !important;
  
  .text-muted {
    font-size: @standard-font-size;
    padding-top: 2px;
    margin-bottom: 0;
  }
}

#favorites {
  margin-top: 4px;
}

#favorites-tags-list-container {
  .channel-card-drop-shadow;
  margin-top: 4px;
}

.videolist {
  .thumbnail {
    padding: 2px;
    background-color: #313131 !important;
    
    h4 {
      font-size: @standard-font-size !important;
      margin-bottom: 2px;
      padding: 0 6px;
    }
    .time {
      font-size: @standard-font-size - 2px;
      color: #D4D4D4;
      padding: 0 6px;
    }
    .btn-group {
      width: 100%;
      padding: 0 6px 6px 6px;
    }
  }
}

#searchcontrol {
  margin-bottom: 4px;
}

#library {
  min-height: 0 !important;
}

#library_query {
  .channel-input;
}

.bootstrap-tagsinput {
  .channel-input;
  height: 38px;
  
  input {
    color: #FFF;
  }
}

#qlockbtn.btn-danger {
  color: #EC4D49;
}

#chat-user-details {
  margin-top: 8px;
  min-height: 0 !important;
  list-style-type: none;
  font-size: @standard-font-size;
  
  li {
    display: inline-block;
    margin-right: 16px;
  }
}