#video-header {
  margin-top: 12px;
  padding: 12px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

#queue {
  -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}

#video-header-title {
  line-height: normal;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px;
}

#video-header-info {
  font-size: 13px;
  
  .avatar {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    float: left;
  }
}

#video-header-user-info {
  margin-left: 50px;
  margin-bottom: 12px;
  height: 40px;
}

#video-header-play-count {
  float: right;
  margin-top: 20px;
}

#video-header-controls {
  padding-top: 12px;
  border-top: 1px solid #333;
  
  .btn {
    background-image: none;
    background-color: transparent;
    border: none;
  }
}

.queue_active {
  display: none;
}