.channel-card-drop-shadow {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
.channel-page .card {
  background: #222;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
}
.channel-page .btn {
  background: transparent !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-size: 12px;
}
.channel-page .btn:hover,
.channel-page .btn.activated {
  z-index: 0;
  color: #E2A630;
}
.channel-page .btn .glyphicon {
  margin-right: 4px;
}
#video-header {
  margin-top: 4px;
  padding: 12px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
#queue-header {
  padding: 12px;
  margin-bottom: 4px;
  margin-top: 8px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
#plmeta .input-group input {
  background-color: #1B1B1B;
  border: 1px solid #333;
  color: #FFFFFF;
  font-size: 14px;
  height: 34px;
}
#plmeta .input-group input::-webkit-input-placeholder {
  color: #555;
}
#plmeta .input-group input:-moz-placeholder {
  color: #555;
  opacity: 1;
}
#plmeta .input-group input::-moz-placeholder {
  color: #555;
  opacity: 1;
}
#plmeta .input-group input:-ms-input-placeholder {
  color: #555;
}
#plmeta .plbuttons {
  padding-top: 12px;
}
#video-playlist {
  padding: 0 12px;
  font-size: 12px;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: auto;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
#video-playlist .playlist-row {
  width: 100%;
  margin: 12px 0;
  height: 50px;
  background-color: #222;
  border-bottom: 1px solid #2B2B2B;
}
#video-playlist .playlist-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
#video-playlist .playlist-row.playing .video-playlist-eq {
  display: inline-block;
}
#video-playlist .video-playlist-eq {
  height: 12px;
  width: 12px;
  vertical-align: text-top;
  margin-right: 4px;
  display: none;
}
#video-playlist .video-playlist-thumbnail-container {
  float: left;
  width: 65px;
  height: 37px;
}
#video-playlist .video-playlist-thumbnail-container img {
  width: 100%;
  height: 100%;
}
#video-playlist .video-playlist-meta-container {
  margin-left: 78px;
  position: relative;
}
#video-playlist .video-playlist-time {
  float: right;
  color: #999;
}
#video-playlist .video-playlist-title {
  display: block;
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 500;
  height: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#video-playlist .video-playlist-queueby {
  color: #999;
}
#video-playlist .video-playlist-queueby a {
  color: #999;
}
#video-playlist .video-playlist-delete-btn {
  position: absolute;
  right: 0;
  top: 20px;
  cursor: pointer;
  color: #999;
}
#video-playlist .video-playlist-delete-btn:hover {
  color: #E2A630;
}
#video-header-title {
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  max-height: 24px;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px;
}
#video-header-info {
  font-size: 13px;
}
#video-header-info .avatar {
  width: 40px;
  height: 40px;
  float: left;
}
#video-header-user-info {
  margin-left: 50px;
  margin-bottom: 12px;
  height: 40px;
}
#video-header-first-play {
  font-size: 10px;
}
#video-header-play-count {
  float: right;
  margin-top: 20px;
}
#video-header-controls {
  padding-top: 12px;
  border-top: 1px solid #2B2B2B;
}
#video-header-controls .btn-vote .glyphicon {
  font-size: 18px;
}
#chatline:focus {
  border-color: #212121 !important;
}
.chatbuttons {
  padding: 12px !important;
  margin-top: 4px;
  min-height: 20px !important;
}
.chatbuttons .btn-group {
  width: 100%;
}
.queue_active {
  display: none;
}
#videowrap,
#chatwrap {
  margin-bottom: -4px !important;
}
#chat-container,
#video-container {
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top: none;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);
}
#video-container {
  border: 1px solid #222 !important;
}
#searchcontrol,
#favorites {
  padding: 12px;
  margin-top: 4px;
}
#searchcontrol .input-group,
#favorites .input-group {
  margin-top: 18px;
}
#searchcontrol .text-muted,
#favorites .text-muted {
  font-size: 12px;
  padding-top: 2px;
}
#searchcontrol {
  margin-bottom: 4px;
}
#library {
  min-height: auto;
}
#library_query {
  background-color: #1B1B1B;
  border: 1px solid #333;
  color: #FFFFFF;
  font-size: 14px;
  height: 34px;
}
#library_query::-webkit-input-placeholder {
  color: #555;
}
#library_query:-moz-placeholder {
  color: #555;
  opacity: 1;
}
#library_query::-moz-placeholder {
  color: #555;
  opacity: 1;
}
#library_query:-ms-input-placeholder {
  color: #555;
}
.bootstrap-tagsinput {
  background-color: #1B1B1B;
  border: 1px solid #333;
  color: #FFFFFF;
  font-size: 14px;
  height: 38px;
}
#favorites-tag-list {
  border-top: 1px solid #2B2B2B;
  padding-top: 16px !important;
}
#qlockbtn.btn-danger {
  color: #EC4D49;
}
