@import "variables";

#video-header {
  margin-top: 12px;
  padding: 12px;
  .channel-card-drop-shadow;
}

#queue-header {
  padding: 12px;
  .channel-card-drop-shadow;
}

#queue {
  padding-top: 6px;
}

#plmeta {
  padding-bottom: 12px;
  
  .input-group {
    margin-top: 12px;
    
    input {
      background-color: #1B1B1B;
      color: #FFFFFF;
      font-size: 14px;
      height: 34px;
    }
    
    .btn {
      background: #1B1B1B !important;
      background-image: none !important;
      border: none;
      font-size: 12px;
      padding-right: 0;
      
      &:hover {
        z-index: 0;
      }
    }
  }
}

#chatwrap {
  background: #1B1B1B !important;
  padding-left: 2px;
  padding-right: 2px;
}

#video-header-title {
  line-height: normal;
  word-wrap: break-word;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 12px;
}

#video-header-info {
  font-size: 13px;
  
  .avatar {
    width: 40px;
    height: 40px;
    float: left;
  }
}

#video-header-user-info {
  margin-left: 50px;
  margin-bottom: 12px;
  height: 40px;
}

#video-header-play-count {
  float: right;
  margin-top: 20px;
}

#video-header-controls {
  padding-top: 12px;
  border-top: 1px solid #333;
  
  .btn {
    background-image: none;
    background-color: transparent;
    border: none;
  }

  .btn-vote {
  
    .glyphicon {
      font-size: 14px;
    }
  }
}

.chatbuttons {
  padding: 4px 0;
  
  .btn {
    background: transparent !important;
    background-image: none !important;
    border: none;
  }
}

.queue_active {
  display: none;
}