<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% include "nav/form.html.twig" %}
    <a href="/" class="navbar-brand hidden-xs">
        <img src="/img/logo.png" id="logo" />
    </a>
    <ul class="nav navbar-nav">
        <li>
            <a href="/playlists/users">Users</a>
        </li>
    </ul>
</nav>