<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% include "nav/header.html.twig" %}
    <ul class="nav navbar-nav">
        <li>
            <a href="/playlists/users">Users</a>
        </li>
        <li>
            <a href="/playlists/top">Top 25</a>
        </li>
    </ul>
    {% include "nav/form.html.twig" %}
</nav>