<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    {% include "nav/form.html.twig" %}
    <a href="/" class="navbar-brand hidden-xs">
        <img src="https://uploads.pienudes.com/lobby/pie.png" id="logo" />
    </a>
    <ul class="nav navbar-nav">
        <li>
            <a href="/users">Users</a>
        </li>
        <li>
            <a href="/playlists/top">Most Played</a>
        </li>
    </ul>
</nav>