<div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapsible">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a href="https://www.reddit.com/r/pienudes" target="_blank" class="navbar-brand">
        {{ siteTitle }}
    </a>
</div>